@import "variables/type";
@import "variables/colour";

html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font: 13px 'Helvetica Neue', sans-serif;
    color: $type;
}

body {
    color: inherit;
    font: inherit
}